@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section ProductsMenu 
{
    <ul class="dropdown-menu">
    
    @foreach (var cat in Model.categories)
    {
        <li class="nav-link" >
            <a class="nav-item text-decoration-none text-dark" asp-route-category="@cat.Name" asp-page="/Products" role="button">
                @cat.Name
            </a>
        </li>
    }
    </ul>
}

<div class="container d-flex flex-wrap flex-sm-nowrap justify-content-around gap-3 gap-lg-0 align-content-around mt-3">
    <div class="card" style="width: 18rem;">
      <img src="/Images/fruits1.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/Images/fruits2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/Images/fruits3.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

</div>
<div class="row col-8" style="background-image:url(/wwwroot/Images/background.jpg)">


</div>
